@{
    ViewData["Title"] = "About";}

<div class="row">
    <div class="col-md-12 text-center h2 bg-primary">@ViewData["Title"].</div>
</div>

<div class="row">
    <div class="text-center col-md-12 h3">@ViewData["Message"]</div>
</div>

<div class="row">
    <div class="col-md-12 text-center h3">
        <p>Use this area to provide additional information, please.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <button id="theButton" type="button" class="btn btn-primary">Test Me!</button>
    </div>
</div>


